.backdrop {
  position: relative;
  top: 0;
  left: 0;
  z-index: var(--z-default);
  width: 100%;
}

.backdrop-gradient {
  background: linear-gradient(180deg, transparent, #232323);
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 350px;
  pointer-events: none;
  z-index: var(--z-overlay);
  padding: 20px 0 0 0;
}

.backdrop-img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: 50% 20%;
}

.movie-bg {
  position: absolute;
  top: 27%;
  left: 50px;
  display: flex;
  flex-direction: column;
  height: auto;
  display: flex;
  width: 550px;
  gap: 15px;
  margin-top: 30px;
  z-index: var(--z-overlay);
}

.movie-bg-title {
  font-size: 60px;
  line-height: 60px;
  width: 400px;
  color: #fff;
  margin: 0 0 5px 0;
}

.movie-bg-desc {
  margin: 0;
  color: #fff;
  width: 100%;
}

@media (max-width: 610px) {
  .movie-bg {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .backdrop-gradient {
    height: 500px;
  }

  .movie-bg {
    top: 20%;
    width: 300px;
  }

  .movie-bg-title {
    font-size: 50px;
    line-height: 45px;
    width: 300px;
  }
}
